.titre{
    font-size: 30px;
    color:#7158cd;
    text-align: center;
    margin-top: 150px;
    
}
body{
    background-color: #fff5e1 ;
}
#btn{
    display: flex;
    width: 30%;
    height: 60px;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    color: #7158cd;
    background-color:yellow ;
    font-size: 25px;
}
.container{
    border: 2px solid #7158cd;
    width: 50%;
    height: 300px;
    justify-content: center;
    margin: 20px auto;
    flex-direction: column;
    display: flex;
    font-size: 25px;
}
.questions{
    margin: 30px ;
    position: relative;
    bottom: 15%;
    color: black;
    font-size: 30px;
    font-weight: 600;
    
}
.answers{
    display: flex;
    position: relative;
    top:20%;
    
    
}
.answers label{
    width: 34%;
    margin-left: 5%;
    font-size: 25px;
}
.answers input{
    transform: scale(1.5);
}
.all{
    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    
    color:red;
    width: 10%;
    border-radius: 50% 50%;
    font-size: 30px;
    
    
}
.plus{
    display: flex;
    flex-direction: row;
}
.note{
    color: red;
    text-align: center;
}
.result{
    font-size: 40px;
    text-align: center;
    color: green;
    position: relative;
    top:70px;
}
